*{
    margin:0px;
}

.hide{
    display: none;
}

#topbar{
    background-color: lightgray;
    display: flex;
}
#imgdiv{
    margin-bottom: 1px;
    background-color: white;
}

#imgdiv > div{
    height: 100%;
}

#imgdiv > div > div{
    background: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-54 66.019 31.999 9.711' color='%23E1A925'%3E%3Cpath fill='currentColor' d='M-48.966 73.27h1.51v-4.004h2.645v4.005h1.51v-2.812c.08-.481.405-1.136 1.577-1.234 0 0 1.713-.276 1.937 1.236v2.81h1.51v-3.387c-.345-2.407-3.777-1.663-3.777-1.663-.805.213-1.123.522-1.247.707v-.68h-4.178c-.12-1.324 1.262-1.298 1.262-1.298 1.352-.038 1.406.824 1.406.824h1.51c0-1.553-2.17-1.73-2.17-1.73-2.128-.166-2.86.543-2.86.543-.668.567-.65 1.459-.638 1.662h-.851v1.017h.854v4.005zM-38.276 73.27v-3.386m4.76 2.033c-.379.454-.834.593-1.364.613-.47.02-1.472.104-1.493-.652-.022-.716 1.21-.678 2.034-.734 0 0 .827-.002.993-.223 0 0 .01-.025.013 0 .002.023.146.6-.183.996m-.03-3.659c-1.665-.274-2.62.002-2.638.008-1.63.368-1.635 1.648-1.635 1.648h1.545s.014-.997 1.664-.87c0 0 1.19.053 1.263.585 0 0 .387.633-1.263.728-1.656.094-3.632.07-3.421 1.596 0 0-.04 1.464 2.672 1.416 0 0 1.448.043 2.04-.686v.022l.05.566h1.499l-.038-3.023c.13-1.742-1.738-1.99-1.738-1.99m7.01 3.374c-.233.474-.692.741-1.534.736 0 0-1.87.114-1.931-1.564v-.05c.064-1.676 1.93-1.562 1.93-1.562.843-.006 1.302.263 1.536.736h1.52c0-.276-.178-.599-.178-.599-.365-.578-1.23-1.239-3.262-1.123-.551.031-.988.09-1.359.226-.676.247-1.775.937-1.76 2.261v.165c-.014 1.333 1.084 2.022 1.76 2.27.372.134.808.195 1.359.226 1.352.077 2.187-.19 2.702-.547.738-.529.752-1.176.752-1.176h-1.534z'/%3E%3Cpath fill='%23cc0505' d='M-47.805 74.763l.036-.225h-.248l.06-.36h-.234l-.06.36h-.234l.06-.36h-.233l-.06.36h-.254l-.037.225h.255l-.035.207h-.252l-.037.222h.25l-.06.363h.233l.06-.363h.234l-.06.363h.234l.06-.363h.253l.036-.222h-.25l.035-.207h.248zm-.517.207h-.234l.034-.207h.234l-.034.207zm1.073.397v-.36h.609v-.299h-.609v-.342h.666v-.303h-.983v1.607h.995v-.303h-.678zm1.652.335c.297 0 .556-.15.692-.379l-.274-.158a.464.464 0 01-.418.227c-.314 0-.521-.218-.521-.526 0-.31.207-.528.521-.528.184 0 .34.088.418.23l.274-.158a.8.8 0 00-.692-.38.815.815 0 00-.836.836c0 .469.35.836.836.836zm1.632 0a.83.83 0 00.836-.824v-.012c0-.47-.372-.835-.836-.835s-.834.365-.834.835a.828.828 0 00.821.836h.013zm0-.31a.509.509 0 01-.52-.526c0-.31.228-.528.52-.528s.52.218.52.528a.509.509 0 01-.52.526zm2.633-1.33h-.326l-.46.76-.461-.76h-.326v1.608h.317v-1.04l.452.744h.037l.453-.746v1.042h.314v-1.607zm1.873 0h-.326l-.46.76-.461-.76h-.326v1.608h.317v-1.04l.452.744h.037l.452-.746v1.042h.315v-1.607zm.617 1.305v-.36h.608v-.299h-.609v-.342h.667v-.303h-.983v1.607h.994v-.303h-.678zm1.782.303h.343l-.356-.606a.524.524 0 00.31-.468.534.534 0 00-.535-.533h-.644v1.607h.317v-.558h.242l.323.558zm-.565-1.311h.326c.12 0 .219.103.219.236 0 .134-.1.24-.219.24h-.326v-.476zm1.839 1.343c.296 0 .555-.15.69-.379l-.272-.158a.464.464 0 01-.418.227c-.315 0-.522-.218-.522-.526 0-.31.207-.528.522-.528.183 0 .34.088.418.23l.273-.158a.8.8 0 00-.691-.38.815.815 0 00-.836.836c0 .469.349.836.836.836zm1.204-.335v-.36h.609v-.299h-.609v-.342h.666v-.303h-.983v1.607h.994v-.303h-.677z'/%3E%3Cpath fill='%231032c1' d='M-32.72 74.394v-.303h-.961v1.607h.317v-.62h.625v-.303h-.625v-.381h.643zm1.114 1.304h.342l-.356-.606a.524.524 0 00.31-.469.534.534 0 00-.535-.532h-.643v1.607h.317v-.558h.24l.325.558zm-.565-1.311h.326c.12 0 .218.103.218.236s-.099.24-.218.24h-.326v-.476zm2.127 1.31h.345l-.565-1.606h-.393l-.563 1.607h.342l.097-.29h.64l.097.29zm-.636-.585l.22-.656.221.656h-.44zm2.068-1.021v.98l-.689-.98h-.241v1.607h.317v-.983l.689.983h.241V74.09h-.317zm1.379 1.639c.296 0 .556-.15.691-.379l-.273-.158a.464.464 0 01-.418.227c-.315 0-.521-.218-.521-.526 0-.31.206-.528.52-.528.185 0 .34.087.419.23l.273-.159a.801.801 0 00-.691-.378.815.815 0 00-.836.835c0 .469.349.836.836.836zm1.204-.335v-.36h.609v-.3h-.609v-.341h.666v-.303h-.983v1.607h.995v-.303h-.678z'/%3E%3C/svg%3E") 50%/contain no-repeat;
    margin: 0px 50px 0px 50px;
    padding : 10px 0px 0px 0px;
    height: 50px;
    width: 100px;
}
    
#research{
    background-color: white;
    margin-bottom: 1px;
    margin-left: 1px;
    display: flex;
}
#research > h1{
    vertical-align: middle;
    font-family: sans-serif;
    font-weight: 100;
    font-size: 12px;
    padding: 10px 40px 10px 30px;
    margin: 12px 0px 12px 12px;
    color: #5f5f5f;
    background-color:#fbfbfb;
    cursor: pointer;
}
#research > input{
    height: 30px;
    width: 10vw;
    margin: 13px 0px 13px 0px;
    background: #f2f2f2;
    padding-left: 15px;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
    outline: none;
    box-shadow: inset 0px 0px 5px #b7b7b7;
}

#research > button{
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
    outline: none;
    height: 32px;
    width: 28px;
    margin: 13px 10px 13px 0px;
    border-radius: 3%;
    background-color: #f5b027;
    background: #f5b027 url("data:image/svg+xml;charset=utf-8,%3Csvg width='40' height='40' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' color='%23fff'%3E%3Cdefs%3E%3Cpath d='M39.322 35.77c.922 1.004.897 2.544-.033 3.47-.412.493-1.059.76-1.74.76-.65 0-1.229-.247-1.71-.727l-6.91-6.899c-3.086 2.363-6.95 3.667-10.884 3.667-4.8 0-9.297-1.879-12.762-5.27C1.862 27.356 0 22.875 0 18.021 0 13.166 1.862 8.685 5.283 5.27A17.962 17.962 0 0118.045 0c4.801 0 9.283 1.863 12.697 5.27 6.362 6.351 7.017 16.526 1.616 23.61l6.964 6.89zm-8.115-17.75c0-3.471-1.372-6.677-3.889-9.254-2.435-2.492-5.751-3.876-9.273-3.876-3.484 0-6.7 1.371-9.283 3.885-2.495 2.43-3.88 5.735-3.88 9.246 0 3.43 1.39 6.696 3.89 9.254 2.434 2.493 5.75 3.876 9.273 3.876 3.443 0 6.718-1.39 9.282-3.885 2.496-2.429 3.88-5.735 3.88-9.245z' id='a'/%3E%3C/defs%3E%3Cuse fill='currentColor' xlink:href='%23a' fill-rule='evenodd'/%3E%3C/svg%3E") 50%/auto 17px no-repeat;
}
.tabicon
{
    background-repeat: no-repeat;
    background-position: center;
    background-color:white;
}

.baricon{
    display:flex;
    background-color: white;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
}

.baricon > h1{
    color: black;
    font-family: sans-serif;
    font-size: 12.5px;
    font-weight: 600;
    padding: 22px 60px 22px 0px;
}

.tabhover{
    padding-bottom: 4px;
    background-color: white;
    margin: 0px 0px 1px 1px;
    transition: all 0.2s ease;
}

.tabhover:hover{
    background-color: black;
}

#dot {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='29' height='28' color='%235F5F5F'%3E%3Cpath d='M14.5.105C22.167.105 28.395 6.333 28.395 14S22.167 27.895 14.5 27.895.605 21.667.605 14 6.833.105 14.5.105zm0 1.095C7.438 1.2 1.7 6.938 1.7 14s5.738 12.8 12.8 12.8S27.3 21.062 27.3 14 21.562 1.2 14.5 1.2zm0 18.485a.947.947 0 11-.947.944c0-.523.424-.947.947-.947zm0-13.264c2.434 0 4.42 1.99 4.42 4.424 0 1.445-.662 2.564-1.48 3.424-.738.78-1.588 1.378-2.308 1.935v1.59a.631.631 0 11-1.264 0v-1.895c0-.192.087-.374.237-.494.82-.656 1.745-1.282 2.428-2.002.683-.72 1.125-1.48 1.125-2.555 0-1.752-1.406-3.158-3.158-3.158s-3.158 1.405-3.158 3.157a.631.631 0 01-.953.554.627.627 0 01-.313-.554 4.43 4.43 0 014.42-4.42z' fill='currentColor'/%3E%3C/svg%3E");
    padding: 29px;
}

#shops {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='21' height='27' color='%235F5F5F'%3E%3Cpath d='M10.576.82c5.482 0 9.924 4.463 9.924 9.97 0 4.474-2.7 8.345-9.557 15.728l-.367.394-.366-.394C3.353 19.135.653 15.264.653 10.788c0-5.505 4.442-9.97 9.923-9.97zm-.016 3.556c-3.446 0-6.232 2.673-6.232 5.96s2.786 5.96 6.232 5.96c3.447 0 6.233-2.673 6.233-5.96s-2.786-5.96-6.233-5.96z' stroke='currentColor' fill='none'/%3E%3C/svg%3E");
    padding: 0px 60px 0px 29px;
    background-position: 75%;
}

#connect {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='26' height='28' color='%235F5F5F'%3E%3Cpath d='M1.492 26.462c0-4.227 2.267-8.035 5.897-10.132l.33-.193.27.276c1.4 1.425 3.3 2.24 5.35 2.24s3.953-.815 5.352-2.24l.272-.277.334.195c3.62 2.11 5.897 5.94 5.875 10.14l-.003.5H1.492v-.5zM13.437.73c3.732 0 6.765 3 6.765 6.7 0 3.697-3.033 6.697-6.765 6.697-3.733 0-6.766-3-6.766-6.698 0-3.7 3.04-6.7 6.77-6.7z' stroke='currentColor' fill='none'/%3E%3C/svg%3E");
    padding: 0px 60px 0px 29px;
    background-position: 75%;
}

#cart {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' color='%23232323'%3E%3Cpath fill='currentColor' d='M30.537 9.982h-6.809c.018 0 .033-.79.033-1.008 0-4.278-3.48-7.944-7.761-7.944-4.278 0-7.761 3.757-7.761 8.037 0 .216.015.915.031.915H1.46c-.998 0-1.638.128-1.417 1.265L3.262 28.43c.221 1.141 1.217 2.538 2.217 2.538h21.04c1.001 0 1.998-1.802 2.217-2.938l3.221-16.347c.219-1.138-.419-1.701-1.421-1.701zM11.435 8.974c0-2.517 2.048-4.748 4.565-4.748s4.566 2.322 4.566 4.84c0 .218-.023.915-.05.915h-9.03c-.03.001-.05-.79-.05-1.007z'/%3E%3C/svg%3E");
    padding: 0px 60px 0px 29px;
    background-position: 75%;
}