*{
    margin: 0px;
}
#menubar{
    background-color: rgba(244,176,39,255);
    box-shadow: 0px -3px 20px 20px rgb(244 176 39);
    display: flex;
    flex-wrap: wrap;
    transition: all 2s ease;
    margin-bottom: 50px;
}

.sec1{
    min-width: 40%;
    display: flex;
    flex-wrap: wrap;
}

.sec2{
    min-width: 20%;
}

.sec2 > div{
    margin-left: auto;
    display: flex;
    flex-wrap: wrap;
}

.sec3{
    min-width: 40%;
    display: flex;
}

.sec3 > div{
    margin-left: auto;
    display: flex;
    flex-wrap: wrap;
}


.items{
    color: white;
    padding: 28px 10px 0px 10px;
    transition: all 0.3s ease;
}

.itemsbold{
    font-style: oblique;
}

.items > a{
    color: white;
    font-family: sans-serif;
    font-size: 15px;
    text-decoration: none;
}


.items:hover{
    padding-top: 30px;
}

#titlebar{
    padding: 23px 0px 0px 25px;
    width: fit-content;
}

#titlebar > a{
    font-family: sans-serif;
    font-size: 30px;
    color: white;
    text-decoration: none;
}

#formbar{
    margin-left: auto;
    font-family: sans-serif;
    color: white;
    width: fit-content;
    padding: 28px 0px 0px 20px;
    font-weight: bold;
    border-radius: 0px;
}

.borderbar{
    border-style: solid;
    border-width: 0px;
    border-radius: 2px;
}

#buttonbar{
    width: 30px;
    height: 19px;
}

#researchbar{
    width: 173px;
    height: 19px;
}

@media screen and (max-width: 1370px)
{
    .sec3{
        margin-left: auto;
        margin-right: auto;
    }
    .sec2{
        margin-left: auto;
        margin-right: auto;
    }
    .sec1{
        margin-left: auto;
        margin-right: auto;
    }  
}